.navbar {
    background-color: #FFA726;
    /* نارنجی لایت */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    box-shadow: 0 4px 8px rgba(255, 133, 27, 0.3);
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.navbar a:hover {
    background-color: #fb8c00;
    border-radius: 8px;
}
