footer {
    background: linear-gradient(135deg, #FF9800, #FF5722);
    color: white;
    padding: 20px 0;
    text-align: center;
    bottom: 0;
    width: 100%;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
     background: linear-gradient(135deg, #FF9800, #FF5722);
    color: white;
    padding: 20px 0;
    text-align: center;
    bottom: 0;
    width: 100%;

}

.footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}


.footer-links a:hover {
    text-decoration: underline;
    background-color: #fb8c00;
    border-radius: 5px;

}
